.grid-custom-padding-x {
    padding-left: rem-calc(15);
    padding-right: rem-calc(15);
    
    @include breakpoint('medium') {
        padding-left: rem-calc(25);
        padding-right: rem-calc(25px);
    }
    
    @include breakpoint('large') {
        padding-left: rem-calc(33);
        padding-right: rem-calc(33);
    }
}

.button-primary {
    text-transform: uppercase;
    color: $white !important;
    background: $black !important;
}

.button-green {
    text-transform: uppercase;
    color: $white !important;
    background: $green !important;
}

.button-green-small {
    text-transform: uppercase;
    color: $white !important;
    background: $black !important;
    
    @include breakpoint('medium') {
        background: $green;
    }
}

.button-trans {
    background-color: transparent !important;
    border: 1px solid $white !important;
    color: $white !important;
    text-transform: uppercase !important;
}


html.lock-screen {
    overflow: hidden;
}

.body {
    max-width: 100% !important;
}

.heading {
    text-align: center;
    font-family: $heading-font-family;
    text-transform: capitalize;
    font-size: 26px;
    margin-bottom: 30px;
    
    @include breakpoint('medium') {
        font-size: 55px;
        margin-bottom: 35px;
    }
    @include breakpoint('large') {
        font-size: 60px;
        margin-bottom: 40px;
    }
}

.accordion-menu {
    a {
        color: $white;
        
        &:hover,
        &:focus {
            color: $white;
        }
    }
}